In [1]:
import pandas as pd


df=pd.read_csv('./dog.csv')
print(df)

                      {
    1: 1            NaN
    2: 2            NaN
    40804: 1        NaN
    90201: 1        NaN
    90203: 1        NaN
    102201: 1       NaN
    3010271: 1      NaN
    "MARCH": 2      NaN
    "APRIL": 51     NaN
    "AUGUST": 14    NaN
    "DECEMBER": 4   NaN
    "SUNDAY": 13    NaN
    "MONDAY": 4     NaN
    "FRIDAY": 19    NaN
    "JAN": 1        NaN
    "JUN": 1        NaN
    "JANUARY": 1    NaN
    "JUNE": 24      NaN
    "JULY": 9       NaN
    "MON": 2        NaN
    "MAY": 13       NaN
    "NOVEMBER": 1   NaN
    "TUESDAY": 7    NaN
    "SEPTEMBER": 2  NaN
    "WEDNESDAY": 10 NaN
    "SUN": 5        NaN
}                   NaN